.booking-list {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 40rem;
    max-width: 90%;
}

.booking-item {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #5101d1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking-item h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #5101d1;
}

.booking-item h2 {
    margin: 0;
    font-size: 1rem;
    color: #7c7c7c;
}

.booking-item p {
    margin: 0;
}