.modal {
    width: 90%;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.35);
    position: fixed;
    top: 20vh;
    left: 5%;
}

@media (min-width: 768px) {
    .modal {
        width: 30rem;
        left: calc((100% - 30rem) / 2);
    }
}